# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

go:
  - 1.11.x

# Force-enable Go modules. This will be unnecessary when Go 1.12 lands.
env:
  - GO111MODULE=on
  - PORT=8000
  
# Only clone the most recent commit.
git:
  depth: 1

script:
  - ./scripts/gofmt.sh
  # - make build
  # - make unittest

notifications:
  email: false

after_success:
  - bash <(curl -s https://codecov.io/bash)
  
